

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
}

/* MENU */

.menu-container {
    flex-basis: 20%;
    max-width: 200px;
    box-sizing: border-box;
    padding: 1%;
    
    display: grid;
    grid-template-rows: 13% 10% 1fr 9%;
}

.menu-container h1 {
    font-family: 'Merienda', cursive;
}

#online-users ul {
    padding: 0;
}

#online-users ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#online-users ul li:hover {
    background-color: #bfbfbfa3;
}

#online-users ul li div {
    display: flex;
    align-items: center;
}

#online-users ul li div p {
    margin: 0 10px 0 0 ;    
}

.online-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #21ff00;
    border-radius: 50%;
}


#mode-selection {
    display: flex;
}

.mode-btn {
    flex-grow: 1;
}

/* CHAT */

.chat-container {
    flex-grow: 1;
    width: 96%;
    height: 100%;
    padding: 1% 2%;
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    top: 0;
    background-color: white;
    display: grid;
    grid-template-rows: 10% 1fr 8%;
    box-shadow: 0 0 10px #00000020;
}

.header {
    display: flex;
    justify-content: space-between;
    ;
    align-items: center;
}

.header .remote-nickname-text {
    font-size: 3.5vh;
}

.nickname-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#nickname-text {
    width: 100%;
    text-align: left;
    font-size: 2.3vh
}

#conversation-box {
    display: block;
    width: 100%;
    max-height: 97%;
    resize: none;
    padding: 0;
    box-sizing: border-box;
    font-size: 2.5vh;
    border: 1px solid silver;
    overflow: auto;
}

.conversation-message {
    display: flex;
    justify-content: flex-start;
}

.from-sender {
    justify-content: flex-end;
}

.notification {
    justify-content: center;
}

.message {
    padding: 3px 15px;
    margin: 10px;
    border: 1px solid dodgerblue;
}

.message-from-sender {
    border: 1px solid orangered;
}

.message-notification {
    border: none;
    font-style: italic;
    font-size: 70%;
    color: #404040;
    margin: 0;
    padding: 7px;
}

.chat-box {
    display: flex;
    font-size: 2.4vh;
    grid-row-start: 3;
}

#message-text {
    display: block;
    flex-grow: 1;
    font-size: 2.4vh;
}

button {
    flex-basis: 10%;
    max-width: 120px;
    display: block;
    font-size: 2.4vh;
}