body, html {
    height: 100vh;
    width: 100vw;
    background: #dfdfdf;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

button {
    background-color: white;
    border: none;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid dodgerblue;
}

button:hover {
    background-color: dodgerblue;
    color: white;
}

button * {
    color: dodgerblue;
}

button:hover * {
    color: white;
}

.red-btn {
    border: 1px solid red;
}

.red-btn:hover {
    background-color: red;
    color: white;
}

.red-btn * {
    color: red;
}

.green-btn {
    border: 1px solid rgb(0, 189, 0);
}

.green-btn:hover {
    background-color: rgb(0, 189, 0);
    color: white;
}

.green-btn * {
    color: rgb(0, 189, 0);
}

/* width */

::-webkit-scrollbar {
    width: 4px;
}

/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.517);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.51);
}

.action-link {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.1s;
    font-size: 150% !important;
}

.action-link:hover {
    cursor: pointer;
    opacity: 0.8;
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
}

/* MENU */

.menu-container {
    flex-basis: 20%;
    max-width: 200px;
    box-sizing: border-box;
    padding: 1%;
    display: grid;
    grid-template-rows: 13% 10% 1fr 9%;
}

.menu-container h1 {
    font-family: 'Merienda', cursive;
}

#online-users ul {
    padding: 0;
}

#online-users ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#online-users ul li:hover {
    background-color: #bfbfbfa3;
}

#online-users ul li div {
    display: flex;
    align-items: center;
}

#online-users ul li div p {
    margin: 0 10px 0 0;
}

.online-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #21ff00;
    border-radius: 50%;
}

#mode-selection {
    display: flex;
}

.mode-btn {
    flex-grow: 1;
}